[Desktop Entry]
Type=Application
Name=Gtkmm password
GenericName=Gtkmm_password
Comment=Gestor de contraseñas
Icon=gtkmm_password
StartupNotify=true
Exec=/usr/share/bin/gtkmm_password
Categories=GNONE;GTK;Utility
