[Desktop Entry]
Type=Application
Name=Gtkmm password
GenericName=Gtkmm_password
Comment=Gestor de contraseñas
Icon=/usr/share/pixmaps/gtkmm_password.svg
StartupNotify=true
Exec=/usr/bin/gtkmm_password
Categories=GNONE;GTK;Utility
